@charset "UTF-8";

body	{font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif}

/* 사이트 이름 */
.site h1 a {color: #83a4a8;
		   text-decoration: none}
		   
.site h1 {margin: 0;
		 font-size: 30px;
		 font-family: 'Paytone One', sans-serif;
		 font-weight: normal}
		 
/* 내비게이션 */
.menu ul {margin: 0;
		 padding: 0;
		 list-style: none}
		 
.menu li a {display: block; 
		   padding: 15px;
		   color: #000000;
		   font-size: 14px;
		   text-decoration: none}
		   
.menu li a:hover {background-color: #75dbe7}

.menu ul:after {content: "";
			   display: block;
			   clear: both}
			   
.menu li {float: left;
		 width: auto}
		 
/* BOX2 를 바 형태로 디자인 */
.box2 {background-color: #7cbac1}

.box3  {border: solid 2px #dddddd; height: 350px;}

.box4  {border: solid 2px #dddddd; height: 350px;}

.box5  {border: solid 2px #dddddd; height: 350px;}

.box6-1  {border: solid 2px #dddddd; height: 350px;}

.box6-2  {border: solid 2px #dddddd; height: 350px;}

.box6-3  {border: solid 2px #dddddd; height: 350px;}

.box1 {padding-top: 8px;
	  padding-bottom: 8px}
	  
.box3 {padding-top: 20px;
	  padding-bottom: 30px}
	  
.box4 {padding-top: 20px;
	  padding-bottom: 30px}
	  
.box5 {padding-top: 20px;
	  padding-bottom: 30px}
	  
.box6-1 {padding-top: 20px;
	  padding-bottom: 30px}
	  
.box6-2 {padding-top: 20px;
	  padding-bottom: 30px}
	  
.box6-3 {padding-top: 20px;
	  padding-bottom: 30px}
	  
.box7 {padding-top: 40px;
	  padding-bottom: 30px}	
	  
h3 {margin-top: 0;
   margin-bottom: 10px;
   border-bottom: dotted 2px #dddddd;
   color: #666666;
   font-size: 18px}
	  
@media (min-width: 768px) {
	
/* BOX3와 BOX4 왼쪽 오른쪽의 간격 */
.box3 {padding-right: 20px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box}
	  
.box4 {padding-right: 20px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box}
	  
.box5 {padding-right: 20px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box}
	  
.box6-1 {padding-right: 20px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box}
	  
.box6-2 {padding-right: 20px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box}
	  
.box6-3 {padding-right: 20px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box}
		
}  



